<% include partials/header %>
    
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Your Own Hero Database</h1>
            <p class="row">
                <a class="btn btn-primary btn-large" href="/heroLists/new">Add a New Hero</a>
            </p>
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>Most popular heroes</h3>
        </div>
    </div>
    <div class="row text-center">
        <% herodatabases.forEach(function(herodatabases){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= herodatabases.image %>">
                    <div class="caption">
                        <h4><%= herodatabases.name %></h4>
                    </div>
                    <p>
                        <a href="/heroLists/<%= herodatabases._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% });%>
    </div>
</div>
<% include partials/footer %>